/****************************************************************
 *
 * RESET
 *
 ***************************************************************/
* {
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	background: transparent;
	text-decoration: none;
}
html, body {
	min-height: 100%;
}
body {
	min-height: 100vh;
	font-size: 16px;
	background: #fff;
	color: #222;
	font-family: 'Roboto', 'Arial', sans-serif;
}
ul, li, ol {
	list-style: none;
}
img {
	display: block;
}
a {
	color: #222;
}
a:hover,
a:focus {
	text-decoration: underline;
}
input:focus {
	outline: none;
}

body > header {
	padding: 15px 30px 0 30px;
}
body > main {
	flex: auto;
	height: 100%;
}
body > footer {
	background: #f2f2f2;
}



/****************************************************************
 *
 * GENERAL CLASSES
 *
 ***************************************************************/
.flex-column {
	display: flex;
	flex-direction: column;
	justify-content: space-between;p
}

.rounded {
	border-radius: 50%;
}




/****************************************************************
 *
 * ELEMENTS
 *
 ***************************************************************/
.fig-menu {
	width: 16px;
	height: 16px;
}

.fig-avatar {
	width: 33px;
	height: 33px;
}

.top-opts {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	position: relative;
}
.top-opts-item {
	margin-left: 18px;
}
.top-opts-item > a {
	font-size: 13px;
}
.top-opts-item > a:hover {
	opacity: .85;
}
.top-opts-item > img {
	cursor: pointer;
}
.top-opts-item > .fig-menu {
	opacity: .55;
}
.top-opts-item > .fig-menu:hover,
.top-opts-item:focus > .fig-menu {
	opacity: 100;
}