/****************************************************************
 *
 * RESET
 *
 ***************************************************************/
* {
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	background: transparent;
	text-decoration: none;
}
html, body {
	min-height: 100%;
}
body {
	min-height: 100vh;
	font-size: 16px;
	background: #fff;
	color: #222;
	font-family: 'Roboto', 'Arial', sans-serif;
}
ul, li, ol {
	list-style: none;
}
img {
	display: block;
}
a {
	color: #222;
}
a:hover,
a:focus {
	text-decoration: underline;
}
input:focus {
	outline: none;
}

body > header {
	padding: 15px 30px 0 30px;
}
body > main {
	flex: auto;
	height: 100%;
}
body > footer {
	background: #f2f2f2;
}



/****************************************************************
 *
 * GENERAL CLASSES
 *
 ***************************************************************/
.flex-column {
	display: flex;
	flex-direction: column;
	justify-content: space-between;p
}

.rounded {
	border-radius: 50%;
}

.no-visible {
	opacity: 0;
}

.nice-scrollbar::-webkit-scrollbar {
    width: 16px;
}
.nice-scrollbar::-webkit-scrollbar-thumb {
    background: #dadce0;
    background-clip: padding-box;
    border: 4px solid transparent;
    border-radius: 8px;
}

.disable-select {
    user-select: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
}

.disable-user-drag {
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	user-drag: none;
}

.nice-transition {
	-webkit-transition: all .218s;
    -moz-transition: all .218s;
    -o-transition: all .218s;
    transition: all .218s;
}



/****************************************************************
 *
 * BUTTONS
 *
 ***************************************************************/
.btn {
	cursor: pointer;
	font-size: 14px;
	border: 1px solid transparent;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
    max-width: 265px;
    outline: 0;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    white-space: normal;
    width: auto;
}
.btn.small {
	padding: 8px 16px;
}
.btn:hover,
.btn:focus,
.btn:active {
	text-decoration: none;
}
.btn[disabled] {
    opacity: .5;
    cursor: not-allowed;
}

.btn.btn-light {
	border-color: #dadce0;
	color: #1a73e8;
	background-color: #fff;
	font-weight: 500;
}
.btn.btn-light:hover {
	background-color: #f8fbff;
    border-color: #cce0fc;
}
.btn.btn-light:focus,
.btn.btn-light:active {
	background-color: #ecf3fe;
    border-color: transparent;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.30), 0 2px 6px 2px rgba(60,64,67,.15);
}




/****************************************************************
 *
 * ICONS
 *
 ***************************************************************/
.icon {
	display: block;
	width: 64px;
	height: 64px;
	background: url(../img/google-sprite.png) no-repeat 0 0;
}
.icon.youtube {
	background-position: 0 -1449px;
}
.icon.translate {
	background-position: 0 -1587px;
}
.icon.maps {
	background-position: 0 -1035px;
}
.icon.gmail {
	background-position: 0 -2139px;
}
.icon.search {
	background-position: 0 -138px;
}
.icon.drive {
	background-position: 0 0;
}
.icon.documents {
	background-position: 0 -2484px;
}
.icon.classroom {
	background-position: 0 -207px;
}
.icon.schedule {
	background-position: 0 -1794px;
}
.icon.news {
	background-position: 0 -2208px;
}
.icon.photos {
	background-position: 0 -2070px;
}
.icon.play {
	background-position: 0 -759px;
}
.icon.books {
	background-position: 0 -1932px;
}
.icon.shopping {
	background-position: 0 -69px;
}
.icon.blogger {
	background-position: 0 -2277px;
}
.icon.contacts {
	background-position: 0 -2622px;
}
.icon.hangouts {
	background-position: 0 -897px;
}
.icon.duo {
	background-position: 0 -1242px;
}
.icon.jamboard {
	background-position: 0 -414px;
}
.icon.earth {
	background-position: 0 -1173px;
}
.icon.collections {
	background-position: 0 -828px;
}
.icon.spreadsheets {
	background-position: 0 -2001px;
}
.icon.presentations {
	background-position: 0 -1863px;
}
.icon.business {
	background-image: url(../img/google-business.png);
}
.icon.keep {
	background-image: url(../img/google-keep.png);
}
.icon.avatar {
	background-image: none;
	display: flex;
	justify-content: center;
	align-items: center;
}
.icon.avatar img {
	width: 48px;
	height: 48px;
	border-radius: 50%;
}





/****************************************************************
 *
 * ELEMENTS
 *
 ***************************************************************/
.fig-menu {
	width: 16px;
	height: 16px;
}

.fig-avatar {
	width: 33px;
	height: 33px;
}

.top-opts {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	position: relative;
}
.top-opts .dropdown {
	position: static;
}
.top-opts .dropdown-content {
	top: 45px;
	width: 340px;
	z-index: 99;
}
.top-opts .dropdown-content > div {
	padding: 24px 10px;
}
.top-opts .dropdown-content.user > div {
	padding-top: 20px;
	padding-bottom: 0;
}


.top-opts-item {
	margin-left: 18px;
}
.top-opts-item > a {
	font-size: 13px;
}
.top-opts-item > a:hover {
	opacity: .85;
}
.top-opts-item > img {
	cursor: pointer;
}
.top-opts-item > .fig-menu {
	opacity: .55;
}
.top-opts-item > .fig-menu:hover,
.top-opts-item:focus > .fig-menu {
	opacity: 100;
}

.google-icons {
	width: 340px;
	margin-left: -10px;
	padding-left: 10px;
}
.google-icons:first-child {
	border-bottom: 1px solid #e8eaed;
	padding-bottom: 20px;
	margin-bottom: 20px;
}
.google-icons li,
.drag-drop-moving li {
	display: inline-block;
    height: 98px;
    list-style-type: none;
    padding: 1px 7px 1px 7px;
    vertical-align: top;
    width: 85px;
}
.google-icons li .icon,
.drag-drop-moving .icon {
	margin: 0 auto;
}
.google-icons li a,
.drag-drop-moving li a {
	text-align: center;
	width: 84px;
	font-size: 14px;
	display: block;
	color: #404040;
	border-radius: 8px;
	margin: 8px 2px;
	padding: 4px;
}
.google-icons li a:focus,
.google-icons li a:active,
.drag-drop-moving li a {
	text-decoration: none;
	background-color: #e8f0fd;
}
.google-icons li a:hover {
	text-decoration: none;
	background-color: #f6fafe;
}
.google-icons li a span,
.drag-drop-moving li a span {
	display: inline-block;
	width: 78px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.google-icons li a:focus span,
.google-icons li a:active span,
.google-icons li a:hover span,
.drag-drop-moving li a span {
	overflow-wrap: break-word;
    white-space: normal;
    word-wrap: break-word;
}

.google-action {
	text-align: center;
	margin-top: 40px;
}



/****************************************************************
 *
 * DINAMIC ELEMENTS
 *
 ***************************************************************/
.dropdown {
	position: relative;
}
.dropdown-content {
	position: absolute;
	top: 100%;
	right: 0;
	height: 468px;
	background: #fff;
    border: 1px solid #ccc;
    border-color: rgba(0,0,0,.2);
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
    border-radius: 8px;
	max-height: calc(100vh - 80px);
	overflow-y: auto;
    overflow-x: hidden;
    display: none;
}
.dropdown.open .dropdown-content {
	display: block;
}
.dropdown-content.child-moving {
	height: calc(100vh - 80px);
}

.drag-drop-container {
	position: relative;
}
.drag-drop-floating {
	position: absolute;
	pointer-events: none;
}
.drag-drop-moving .google-icons li a{
	background-color: transparent;
}